main.container h1 {
  display: block;
  background-color: #5ac3f6;
  padding: 10px 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

.hashtag {
  display: block;
  background-color: rgb(243, 243, 243);
  padding: 10px 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

.content-header img {
  object-fit: contain;
}
