body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: rgba(148, 148, 148, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.left-side {
  display: flex;
  align-items: center;
}

body {
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro",
    "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
}
.container-fluid {
  padding: 15px 0 15px 0;
  margin: 0 auto;
}

.search {
  width: 100px;
}
.searchgo {
  background-color: white;
  float: right;
}

.like-or-oll {
  width: 300px;
  margin: 0 auto;
}

/* ヘッダーとフッターの調整 */
.search {
  width: 50px;
}
.d-flex {
  padding: 0 3rem;
}
.py-2 {
  background-color: #83acc5;
}
.gap-5 {
  height: 1.2rem;
}
.logout {
  width: 90px;
}
.picture {
  width: 100%;
  min-width: 200px;
  max-width: 350px;
  height: 150px;
  margin: 10px auto;

  .image-preview {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.goodcount {
  padding-right: 30px;
  float: right;
}
.goodcount div {
  float: left;
}
.goodcount input {
  float: right;
}

footer {
  position: sticky;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  background-color: #83acc5;
}

.nuderbotton {
  padding: 20px 0 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin: 0 auto;
}

.asiatotenp {
  display: block;
  /* 2 */
  width: 380px;
  /* 3 */
  height: 570px;
  /* margin: 2rem auto; */
  margin-inline: auto;
  margin-block: 10px;
  padding-inline: 0;
  /* padding: 0px 10px 40px 0px; */
  border-radius: 10px;
  background-color: white;

  position: relative;
  font-weight: bolder;
}
@media (max-width: 380px) {
  .asiatotenp {
    width: 90%;
    border-radius: 10px;
  }
}
.asiatotenp p {
  padding-left: 30px;
}
.asiatotenp img {
  width: 100%;
  height: 100%;
  border-radius: 44px;
}

.contents_heading {
  position: absolute;
}
.contents_heading h2,
p {
  position: absolute;
  color: white;
}
.contents_heading h2 {
  writing-mode: vertical-rl;
  top: 10%;
  left: 10%;
  font-size: 3rem;
  margin: 0 !important; /*文字がずれている場合や*/
  padding: 0 !important; /*文字が折り返される場合*/
}
.contents_heading p {
  &.name {
    bottom: 10%;
  }
  &.asiato-desc {
    bottom: 5%;
  }
}

.btn-primary,
.btn-outline-success {
  width: 25%;
  border-color: black;
  border-width: 2px;
  color: black;
  background-color: white;
}

.ub {
  width: 30%;
  min-width: 200px;
  border-color: black;
  border-width: 2px;
  color: black;
  background-color: white;
}
