#bookamark-description {
    min-height: 180px;
}

body{
	font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}
/* 

.container {
    margin-top: 10%;
    position: relative;
}

.details {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.details p {
    font-size: 18px;
    margin-bottom: 15px;
}
 */
