#bookamark-description {
    min-height: 180px;
}

/* 

.container {
    margin-top: 10%;
    position: relative;
}

.details {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.details p {
    font-size: 18px;
    margin-bottom: 15px;
}
 */
